.navbar
	border-bottom 3px solid $accentColorDark

.navbar, .navbar .links
	background-color $accentColor !important

.navbar .links
	background-color red

.navbar, .site-name.can-hide, .navbar .links .icon.outbound
	color white !important

// Sidebar

.sidebar
	background-color lighten($accentColor, 99%)
	border none
	box-shadow 1px 0px 4px grey

.sidebar .sidebar-link:hover
	border-right 3px solid $accentColor

.sidebar .sidebar-sub-headers .active.sidebar-link
	font-weight bold
	color $accentColorDark

// Content

.page a
	font-weight bold

h1, h2, h3
	color $accentColorDark

// Table

th, td
	border-color desaturate($accentColorLight, 80%)

table .icon.outbound
	display none

.Audio{
	box-sizing: border-box;
	border-radius: 20px;
	overflow: hidden;
	border: .5px solid #b6c5c9;
	padding: 0;
	margin-bottom: 20px;
}

.Audio__table{
	min-width: 100%;
	display: table;
	height: 100%;
	margin: 0;
	border-radius: 20px;
	overflow: hidden;
	border: .5px solid #b6c5c9;
}

.Audio__wrap {
	padding: 0;
	display: flex;
	justify-content: space-evenly;
}

.Audio__td {
	padding: 0 !important;
}

.Audio__head {
	background-color: #25b6da;
	border: 1px solid white;
	color: white;
}

.Audio__item {
	display: inline-block;
	height: 100%;
	margin: 0 2px;
	font-weight: bold;
	color: #25b6da;
	cursor: pointer;
}

.Audio__item:hover {
	text-decoration: underline;
}
