.navbar
	border-bottom 3px solid $accentColorDark

.navbar, .navbar .links
	background-color $accentColor !important

.navbar .links
	background-color red

.navbar, .site-name.can-hide, .navbar .links .icon.outbound
	color white !important

// Sidebar

.sidebar
	background-color lighten($accentColor, 99%)
	border none
	box-shadow 1px 0px 4px grey

.sidebar .sidebar-link:hover
	border-right 3px solid $accentColor

.sidebar .sidebar-sub-headers .active.sidebar-link
	font-weight bold
	color $accentColorDark

// Content

.page a
	font-weight bold

h1, h2, h3
	color $accentColorDark

// Table

th, td
	border-color desaturate($accentColorLight, 80%)

table .icon.outbound
	display none

.Audio{
	box-sizing: border-box;
	border-radius: 20px;
	overflow: hidden;
	border: .5px solid #b6c5c9;
	padding: 0;
	margin: 20px 0 0;
}

.Audio__table{
	min-width: 100%;
	display: table;
	height: 100%;
	margin: 0;
	border-radius: 20px;
	overflow: hidden;
	border: .5px solid #b6c5c9;
}

.Audio__wrap {
	padding: 0;
	display: flex;
	justify-content: space-evenly;
}

.Audio__td {
	padding: 0 !important;
}

.Audio__head {
	background-color: #25b6da;
	border: 1px solid white;
	color: white;
}

.Audio__item {
	display: inline-block;
	height: 100%;
	margin: 0 2px;
	font-weight: bold;
	color: #25b6da;
	cursor: pointer;
}

.Audio__item:hover {
	text-decoration: underline;
}

.NumberToIpa {
  margin: 20px 0;
}
.NumberToIpa * {
  box-sizing: border-box;
}
.NumberToIpa__container {
  width: 300px;
  margin: auto;
}
[class*="NumberToIpa__input"] {
  width: 100%;
  height: 35px;
  padding: 0 15px;
  border: 2px solid;
  border-radius: 15px;
  text-align: center;
}
[class*="NumberToIpa__input"]:focus {
  outline-width: 0;
}
.NumberToIpa__input {
  border-color: #25b6da;
}
.NumberToIpa__input--error {
  border-color: red;
}
[class*="NumberToIpa__output"] {
  min-height: 2rem;
  border-bottom: 2px solid #25b6da;
  padding-bottom: 10px;
  font-size: 1.5rem;
  text-align: center;
}
.NumberToIpa__output {
  color: #25b6da;
}
.NumberToIpa__output--error {
  color: red;
}
.NumberToIpa__listImg {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.NumberToIpa__itemImg {
  list-style: none;
}
.NumberToIpa__img {
  display: block;
  max-height: 80px;
}
