// vars colors
$accentColor = #25B6DA
$accentColorDark = darken($accentColor, 50%)
$accentColorLight = lighten($accentColor, 50%)
$borderColor = desaturate($accentColorLight, 80%)

// vars layout
$navbarHeight = 3.8rem
$sidebarWidth = 18rem
