// vars colors
$accentColor = #008B8B
$accentColorDark = darken($accentColor, 50%)
$accentColorLight = lighten($accentColor, 50%)
$borderColor = desaturate($accentColorLight, 80%)

// vars layout
$navbarHeight = 3.8rem

// NavBar
.navbar
	border-bottom 3px solid $accentColorDark

.navbar, .navbar .links
	background-color $accentColor

.navbar, .site-name.can-hide, .navbar .links .icon.outbound
	color white

// Sidebar

.sidebar
	background-color lighten($accentColor, 99%)
	border none
	box-shadow 1px 0px 4px grey

.sidebar .sidebar-link:hover
	border-right 3px solid $accentColor



.sidebar .sidebar-sub-headers .active.sidebar-link
	// border-right: 3px solid $accentColor
	// background-color desaturate(lighten($accentColor, 90%), 60%)
	font-weight bold
	color $accentColorDark

// Content

.page a
	font-weight bold

h1, h2, h3
	color $accentColorDark

// Table 

th, td
	border-color desaturate($accentColorLight, 80%)

table .icon.outbound
	display none

	// layout
$sidebarWidth = 18rem

